<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bank Application testing">


	<test name="NewCustomer">
		<groups>
			<run>
				<exclude name="validation"></exclude>
				<exclude name="newCust"></exclude>
			</run>
		</groups>
		<classes>
			<class name="testCases.newCustomerTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
